/* Grid Container */
.grid {
  display: grid;
}

.header {
  grid-area: header;
  min-height: 50px;
  line-height: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
}

.logo {
  grid-area: logo;
  font-family: "Bebas Neue";
  color: #e50914;
  font-size: 2rem;
  padding: 15px 0 10px 0;
  letter-spacing: 0.2rem;
}

.nav {
  grid-area: nav;
  font-size: 0.95rem;
}

.content {
  grid-area: content;
  min-height: 1000px;
  background-image: url(../images/posters/interestelar-cartaz.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  grid-area: footer;
  min-height: 100px;
  background-color: rgba(46, 46, 46, 1);
  color: #ccc;
  padding: 2rem;
}

.grid-template-areas {
  grid-template-areas:
    "header"
    "content"
    "footer";
}

.grid-template-areas-header {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-areas: "logo nav";
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  background-color: rgba(46, 46, 46, 0);
  transition: background-color 0.5s ease;
}

/* Menu */
ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: #e5e5e5;
}

/* Estilos Gerais */
@font-face {
  font-family: "Bebas Neue";
  src: url(../fonts/bebas_neue/BebasNeue-Regular.ttf);
}

h1 {
  text-align: center;
  font-size: 1.25em;
  font-weight: normal;
}

body {
  font-family: monospace;
  color: #333;
  margin: 0px;
}

body > div:nth-of-type(even) {
  background: rgba(0, 0, 0, 0.03);
}

.item {
  text-align: center;
}

.grid {
  max-width: 100%;
  margin: 0 auto;
}

.v-center {
  vertical-align: middle;
}

.nav-element {
  float: right;
  margin-top: -3rem;
  margin-right: 1rem;
  cursor: pointer;
}

.account-menu-item {
  display: block;
  position: relative;
  font-size: 12px;
  z-index: 0;
}

.account-dropdown-button .caret {
  margin-left: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #fff transparent transparent transparent;
}

.dropbtn {
  color: white;
  padding: 16px;
  border: none;
}

.dropdown {
  margin-right: 1rem;
  float: right;
  margin-top: -3rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(46, 46, 46, 1);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 1rem;
  border: 1px solid black;
  border-radius: 0.2rem;
  font-size: 14px;
}

.dropdown-content a {
  color: #ccc;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: rgba(0,0,0,0.2);}

.dropdown:hover .dropdown-content {display: block;}


/*Casousel*/
.carousel {
  height: 180px;
  width: 100%;
  background: #2e2e2e;
  position: absolute;
  bottom: 7rem;
  opacity: 0.8;
  white-space: nowrap;
  overflow: hidden;
  cursor: grab;
}

.carousel-item {
  height: 150px;
  width: 150px;
  background: #fff;
  display: inline-grid;
  margin: 15px 0;
  cursor: grab;
}

.carousel-arrow {
  display: absolute;
  color: #fff;
  padding: 81px 15px;
  position: absolute;
  background: #000;
  cursor: pointer;
}

.carousel-arrow.left {
  left: 0;
  top: 0;
}

.carousel-arrow.right {
  right: 0;
  top: 0;
}

